body {
  margin: 0;
  font-family: "Grandstander", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  /* background: do whatever tinting and stuff here;

  This will ensure everywhere is covered 
   
       background-size: cover; */
}
